body {
    min-height: 100vh;
    background: url(img/10_images/desert-g95b9ff45f_1280.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    font-family: 'zabars', Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: 'zabars';
    src: url('./fonts/zabars.ttf') format('truetype');
}

/* title */
h1 {
    font-size: 85px;
    letter-spacing: 8px;
    text-shadow: 4px 2px 8px rgba(0, 0, 0, 0.5);
}

.logo_j {
    width: 100%;
    padding-top: 10px;
    padding-left: 15px;
}

.logo_j img {
    width: 125px;
    height: 125px;
}

/* canvas */
canvas {
    display: block;
    background-color: black;
}

/* menu principal */
.menu_cont {
    padding-top: 100px;
}

.menu_img {
    display: flex;
}

.menu_opt {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu_opt img {
    width: 300px;
    height: 300px;
    cursor: pointer;
}

.menu_opt:hover img {
    width: 350px;
    height: 350px;
    cursor: pointer;
    transition-property: transform;
    transition-duration: 1s;
    transform: rotate(350deg);
}

.menu_opt a {
    font-size: 50px;
    cursor: pointer;
}

.menu_opt:hover a {
    transform: translateY(00px);
    transition-property: transform;
    transition-duration: 0.5s;
    transform: translateY(-200px);
}

/* game */
.game {
    position: relative;
    overflow: hidden;
    width: 720px;
    height: 480px;
}

/* volume/fullscreen */
.icons_sett {
    width: 100%;
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: row;
    z-index: 1;
    top: 0;
    gap: 10px;
}

.icons_sett img {
    height: 40px;
    width: 40px;
}

/* buttons smartphone */
.phone_right {
    padding-right: 5px;
}

.button_phone {
    height: 55x;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.btns_phone {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    z-index: 1;
    user-select: none;
}

.btns_phone img {
    height: 50px;
    width: 50px;
}

/* display: none */
.d-none {
    display: none !important;
}

/* controls info */
.control {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 700px;
    height: 500px;
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: 5px 5px 15px 5px #000000;
    padding-left: 20px;
    padding-right: 20px;
}

.exit {
    width: 100%;
    font-size: 35px;
    display: flex;
    align-items: flex-end;
    cursor: pointer;
}

.exit a {
    color: #000000 !important;
}

.control_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    font-size: 45px;
    letter-spacing: 4px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.control_title p {
    font-size: 35px;
}

.control_moves {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    gap: 15px;
    padding-bottom: 30px;
}

.moves {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.control_moves img {
    width: 35px;
    height: 35px;
}

/* screen to rotate phone */
.turn_phone {
    position: absolute;
    color: white;
    font-size: 40px;
    width: 100%;
    height: 100vh;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.9);
}

.turn_phone div {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.rotate {
    width: 125px;
    height: 125px;
}

/* screen help */
.help {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 700px;
    height: 500px;
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: 5px 5px 15px 5px #000000;
    gap: 10px;
    font-size: 25px;
    letter-spacing: 1px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.help a {
    text-decoration: none;
    color: gray;
}

.info {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* win screen */
.img_win {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img_win a {
    font-size: 40px;
    position: absolute;
    padding-top: 20px;
}

.display {
    display: block;
    width: 820px;
    height: 480px;
    border-radius: 15px;
}

/* lost screen */
.img_lost {
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: 5px 5px 15px 5px #000000;
}

/* buttons in lost and win screen */
.buttons_end {
    display: flex;
    justify-content: space-between;
}

.button_end {
    position: relative;
    top: 0;
    cursor: pointer;
    text-decoration: none !important;
    outline: none !important;
    font-family: 'Carter One', sans-serif;
    font-size: 20px;
    line-height: 1.5em;
    letter-spacing: .1em;
    text-shadow: 2px 2px 1px #0066a2, -2px 2px 1px #0066a2, 2px -2px 1px #0066a2, -2px -2px 1px #0066a2, 0px 2px 1px #0066a2, 0px -2px 1px #0066a2, 0px 4px 1px #004a87, 2px 4px 1px #004a87, -2px 4px 1px #004a87;
    border: none;
    margin: 15px 15px 30px;
    background: repeating-linear-gradient(45deg, #3ebbf7, #3ebbf7 5px, #45b1f4 5px, #45b1f4 10px);
    border-bottom: 3px solid rgba(16, 91, 146, 0.5);
    border-top: 3px solid rgba(255, 255, 255, .3);
    color: #fff !important;
    border-radius: 8px;
    padding: 8px 15px 10px;
    box-shadow: 0 6px 0 #266b91, 0 8px 1px 1px rgba(0, 0, 0, .3), 0 10px 0 5px #12517d, 0 12px 0 5px #1a6b9a, 0 15px 0 5px #0c405e, 0 15px 1px 6px rgba(0, 0, 0, .3);
}

.button_end:hover {
    top: 2px;
    box-shadow: 0 4px 0 #266b91, 0 6px 1px 1px rgba(0, 0, 0, .3), 0 8px 0 5px #12517d, 0 10px 0 5px #1a6b9a, 0 13px 0 5px #0c405e, 0 13px 1px 6px rgba(0, 0, 0, .3);
}

.button_end::before {
    content: '';
    height: 10%;
    position: absolute;
    width: 40%;
    background: #fff;
    right: 13%;
    top: -3%;
    border-radius: 99px;
}

.button_end::after {
    content: '';
    height: 10%;
    position: absolute;
    width: 5%;
    background: #fff;
    right: 5%;
    top: -3%;
    border-radius: 99px;
}

.button_end.orange {
    background: repeating-linear-gradient(45deg, #ffc800, #ffc800 5px, #ffc200 5px, #ffc200 10px);
    box-shadow: 0 6px 0 #b76113, 0 8px 1px 1px rgba(0, 0, 0, .3), 0 10px 0 5px #75421f, 0 12px 0 5px #8a542b, 0 15px 0 5px #593116, 0 15px 1px 6px rgba(0, 0, 0, .3);
    border-bottom: 3px solid rgba(205, 102, 0, 0.5);
    text-shadow: 2px 2px 1px #e78700, -2px 2px 1px #e78700, 2px -2px 1px #e78700, -2px -2px 1px #e78700, 0px 2px 1px #e78700, 0px -2px 1px #e78700, 0px 4px 1px #c96100, 2px 4px 1px #c96100, -2px 4px 1px #c96100;
}

.button_end.orange:hover {
    top: 2px;
    box-shadow: 0 4px 0 #b76113, 0 6px 1px 1px rgba(0, 0, 0, .3), 0 8px 0 5px #75421f, 0 10px 0 5px #8a542b, 0 13px 0 5px #593116, 0 13px 1px 6px rgba(0, 0, 0, .3);
}

/* smartphone */

@media only screen and (max-width : 830px) {
    canvas {
        position: absolute;
        width: 100%;
    }

    .logo_j img {
        width: 50px;
        height: 50px;
    }

    .title_game {
        font-size: 50px;
        
        margin: 10px;
    }

    .menu_cont {
        padding-top: 10px;
        width: 720px;
    }

    .menu_img {
        justify-content: space-around;
    }

    .menu_opt {
        max-width: 140px;
    }

    .menu_opt img {
        width: 200px;
        height: 200px;
    }

    .control {
        width: 80%;
        margin-bottom: 15px;
    }

    .exit {
        font-size: 25px;
    }

    .control_title {
        margin-bottom: 10px;
    }

    .control_title a {
        font-size: 30px;
    }

    .control_title p {
        font-size: 23px;
    }

    .help {
        width: 90%;
        margin-bottom: 30px;
    }


    .info {
        font-size: 25px;
        padding-top: 5px;
        padding-bottom: 15px;
    }

    .thanks_to {
        width: 100%;
        font-size: 15px;
    }

    .lost_screen {
        flex-direction: column;
        position: absolute;
        z-index: 1;
    }

    .win_screen {
        flex-direction: column;
        position: absolute;
        z-index: 1;
    }

    .display {
        width: 720px;
    }

    .buttons_end {
        width: 100%;
        position: absolute;
        bottom: 0px;
        justify-content: space-between;
    }

    .button_end {
        width: 150px;
        height: 45px;
        font-size: 15px;
        margin-bottom: 15px;
    }
}

@media only screen and (max-width:720px), (max-height : 480px) {
    canvas {
        height: 100vh;
        width: 100%;
    }

    body {
        max-height: 480px;
        overflow: hidden;
    }

    .control {
        height: 300px;
    }

    .control_title  { 
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .control_title a { 
        font-size: 24px;
    }

    .control_title p {
        font-size: 19px;
    }

    .control_moves {
        flex-direction: initial;
        flex-wrap: wrap;
        justify-content: center;
        gap: 25px;
    }

    .thanks_to {
        display: flex;
        flex-wrap: wrap;
        gap: 3px;
        font-size: 11px;
    }
}

@media only screen and (max-width: 720px) {
    .turn_phone {
        display: block !important
    }
}